@import url("fonts/Mountain.ttf");

@font-face {
    font-family: Mountain;
    src: url(fonts/Mountain.ttf);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #564E58;
}

h1,
h2,
h3,
h4 {
    font-family: "Mountain";
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: black;
    width: 100%;
    height: 100%;
}

#wrapper {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #94B9AF;
    width: 90%;
    height: auto;
    min-height: 700px;
    max-height: 3500px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #90A583;
    height: 90px;
    align-items: center;
    padding: 0 20px;
}

nav img {
    width: 90px;
    margin-top: 2px;
}

footer img {
    width: 90px;

}

#nav_buttons {
    display: flex;
    gap: 200px;
    margin: auto;
}

#nav_empty {
    width: 90px;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #90A583;
    height: 100px;
    align-items: center;
    padding: 0 20px;
}

i {
    font-size: 40px;
    color: white;
    margin: 20px;
}